.SourceInfoWrapper {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #37576e;
  box-sizing: border-box;
  background-color: #042843;
}

.SourceInfoWrapper button {
  margin-right: 20px;
  background: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 16px;
  color: #f5f5f5;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.SourceInfoWrapper button:hover {
  transform: translateX(-5px);
  transition: 0.2s ease-in-out;
}

.NavigationWrapper {
  margin-top: 24px;
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #f5f5f5;
  background-color: #054062;
  border-radius: 4px;
  gap: 24px;
  font-size: 16px;
  line-height: 16px;
  align-self: flex-end;
}

.NavigationWrapper button {
  display: block;
  height: 16px;
  border: none;
  background: none;
  color: #f5f5f5;
  font-size: 16px;
  line-height: 16px;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.NavigationWrapper button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ImagesGrid {
  width: 100%;
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media (min-width: 1921px) {
  .ImagesGrid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 1920px) {
  .ImagesGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1439px) {
  .ImagesGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1023px) {
  .ImagesGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .ImagesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 479px) {
  .ImagesGrid {
    grid-template-columns: 1fr;
  }
}
