.ImageContainer {
  position: relative;
  min-width: 200px;
  width: 100%;
  height: 200px;
  cursor: pointer;
  border: none;
  padding: 0px;
  border-radius: 8px;
  overflow: hidden;
}

.Image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.PlaceHolder {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background: rgb(5, 45, 74);
  background: linear-gradient(
    145deg,
    rgba(5, 45, 74, 1) 0%,
    rgba(78, 113, 138, 1) 100%
  );
}

.PlaceHolderHelper {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background: rgb(78, 113, 138);
  background: linear-gradient(
    145deg,
    rgba(78, 113, 138, 1) 0%,
    rgba(5, 45, 74, 1) 100%
  );
  animation: ImageLoading 2s ease-out infinite;
}

@keyframes ImageLoading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
