.ImageViews {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
}

.SpinnerWrapper {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
