.SourceImages {
  color: white;
  width: 100%;
  margin-top: 56px;
}

.SourceImages:first-child {
  margin-top: 0px;
}

.ImagesInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.AllImagesButton {
  padding: 0px;
  color: #a4d0cb;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
  line-height: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AllImagesButton span {
  margin-right: 12px;
}

.RightArrow {
  transition: 0.2s ease-in-out;
}

.AllImagesButton:hover .RightArrow {
  transform: translateX(5px);
  transition: 0.2s ease-in-out;
}

.ImageGrid {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
