.SourceInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.SourceTextWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.SourceTextWrapper h4 {
  font-size: 18px;
  line-height: 24px;
  margin: 0px;
  color: #f5f5f5;
}

.Divider {
  width: 1px;
  height: 16px;
  background-color: #8296a4;
  margin: 0px 16px;
}

.SourceIconWrapper {
  max-width: 24px;
  max-height: 24px;
  border-radius: 8px;
  padding: 4px;
  background-color: #edf6f5;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
